

<div class=a>
    <br>
    <br>
<br>
<br>
<br>
<h2>
          Strategy
          
</h2>
<div class="portfolio-category-content">


        <div class="project_container">
        
        
          <div class="card hoverable">
        
            <div class="card-start">
        
               
              <div class="project_img">
                <img src="assets/images/Strategy_Page_07.jpg" >
              </div>
              
            </div>
        
   
        
            <br>
        
        </div>
        

</div>

<style>
h2{
    text-decoration: italic;
    text-align: center;
  }

  .a{
      padding-left: 35px;
      padding-right: 35px;

      background-color:gray
  }


  </style>