

<!---<app-header></app-header>-->

<!---
<div class=a>
<br>

<br>
<h2>
  Our Team
</h2>
<p>
  


Digital Alpha Advisors
Our Team
Rick Shrotri
Founder & Managing Partner
Mr. Shrotri was formerly Managing Director of the Business Acceleration unit inside Cisco where he has been focused on identifying and developing opportunities from Cisco’s sales pipeline that require equity financing, and cultivating relationships with private equity investors.

During his 10 years at Cisco Mr. Shrotri has worked on the growth strategy and investments, strategic partnerships, and managed a forum of executive reviews that include the firm’s most senior leadership.

Prior to Cisco, Mr. Shrotri worked at Samsung where he focused on external innovation strategy including M&A and JV structures for the semiconductor and mobility divisions.

Mr. Shrotri also worked at Goldman Sachs in tech/telecom investments in the Principal Investment Area.

Mr. Shrotri holds degrees from the Wharton School at the University of Pennsylvania in Finance and International Relations, both summa cum laude, and an MBA from Harvard Business School, where he was a Baker Scholar.
</p>
<p>
Vasa Babic
Partner, Managing Director
Mr. Babic has partnered with Mr. Shrotri for nearly 4 years in developing the Digital Alpha Concept

Mr. Babic has over 25 years’ global experience in the technology, telecoms and media sectors. He has a blend of expertise in Corporate Finance, Principal Investing, Corporate General Management and Strategic consultancy. His private practice has represented and advised several Global 500 companies on new investments, joint ventures and restructurings since 2009, as well as more performing more traditional strategic and operational consultancy work.

Prior to independent advisory work, Vasa was a Partner and COO of Hanover Investors, a public market control-based equity Fund. He has served as a Non-Executive Director of FTSE and AIM listed companies in the UK, including a full 7 year term at Scottish Television Group PLC, where he also chaired the Remuneration committee.

Vasa was previously the youngest Group Director at Vodafone, with a role leading post-merger integration, and the youngest partner worldwide in Oliver Wyman, a Strategy Consultancy, where he specialised in technology, telecoms and media. He has a degree in Economics from King’s College, Cambridge.
</p>
<p>
Aurin Bhattacharjee
Principal
​
Mr. Bhattacharjee has 7+ years experience at Google: Cloud Strategy & Operations and Corporate Finance teams where he managed investments and acquisitions such as Uber, Cloudera, AppBridge, and others

Previously, Aurin was with H.I.G. Bayside Capital and Thomas H. Lee Partners

McKinsey Business Analyst (financial services client focus)

Harvard Business School (MBA), Carnegie Mellon (Finance)
</p>

<p>
Anais Benhassaine
Associate, Legal
​

Ms. Benhassaine is a licensed attorney in the UK and France and has structured, negotiated, and executed legal agreements with leading Silicon Valley enterprises for global deployments with Digital Alpha

LL.M in Corporate, Banking and Finance at Fordham Law School

MSc in Tax Law and Finance from Edhec Business School, Paris

Master of Corporate Law, Jean Moulin University, Lyon, France. 

Bachelor of Law from Jean Moulin University, Lyon, France

Meg Visokey, CAIA
Head of Investor Relations
meg@dalphafund.com
Ms. Visokey has 6+ years experience UBS Wealth Management

Most recently, she was on the Alternative Investments Consulting team advising Ultra High Net Worth clients on Private Equity portfolio construction

Ms. Visokey is a CAIA (Chartered Alternative Investments Analyst) Charterholder and has a BS in Business Management with honors from Bucknell University.

Digital Alpha Advisors
© 2019 by Digital Alpha Advisors.
</p>
<br>


</div>
-->
<br>
<br>
<br>
<div class="project_container">

  <div class="card hoverable">

    <div class="card-start">

      <h2>YamlToBot</h2>

      <div class="project_img">
        <img src="https://content.yamltobot.com/common/logos/logo.svg">
      </div>

    </div>

    <div class="card-content">

      <p>
        YamlToBot is an application that allows you to quickly and easily
        develop self-hosted chatbots for Discord and Twitch, with support
        for more platforms coming in the near future. With YamlToBot, all
        it takes is a few simple steps to deploy your own chat bot.
      </p>

    </div>

    <br>

    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"><h4>I ❤️ YAML & Chat Bots!</h4></a>
    </div>

  </div>

  <!--<div class="card">
    <h2>Pinetree Mail</h2>
    <div class="project_img">
      <img src="https://content.justinschaaf.com/pinetree/logos/pt-mail.svg">
    </div>
    <p>
      Pinetree Mail is an indev email app designed to provide
      a consistant user experience between mobile and desktop operating
      systems. Not only can you check emails from all of your accounts
      in one place, but it is also designed with customization in mind.
    </p>
    <br>
    
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/PinetreeDev/PinetreeMail"><h4>Emails sound fun!</h4></a>
  </div>-->

  <div class="card hoverable">

    <div class="card-start">

      <h2>Stylesheet</h2>
  
      <div class="project_img">
        <img src="https://content.justinschaaf.com/common/logos/js-stylesheet.svg">
      </div>

    </div>
    
    <div class="card-content">

      <p>
        This is a place where I've compiled a collection of creative
        colors in 10 different shades. It also includes colors from
        some of my other current and past projects. It has now grown
        to include 300 individual colors and has a swatch generator
        for your color needs.
      </p>

    </div>

    <br>
    
    <div class="card-end">
      <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>COLORS!</h4></a>
    </div>

  </div>

</div>