.project_container {

    display: flex;
    flex-wrap: wrap;
    padding: 16pt 0;
    max-width: 720pt;
    margin: auto;

    .card {

        margin: auto;
        padding: 20pt;
        max-width: 700pt;
        min-width: 600pt;
        height: 200pt;
      
      
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;

        .project_img {

            margin: auto;
            padding: 5pt;
            height: 200pt;
            width: 550pt;
            display: flex; 
            justify-content: center;

        }

        img {
            max-height: 100pt;
            max-width: 700pt;
            margin: auto;
        }

    
    .a {
        margin-bottom: 25px;

    }
h2 {
    text-align: center;
}

}
}