

<div class=a>
    <br>
    <br>
<br>

<h2>
Our Team           
</h2>


        <div class="project_container">
        
          <div class="card hoverable">
        
            <div class="card-start">
        
               <h5>Rick Shrotri</h5>
               <h6>Founding & Managing Partner</h6>
                 <ul>

                 <li>Mr. Shrotri has been a technology and telecommunications investor for over two decades, managing industry shaping investments</li>

                 <li> Prior to founding Digital Alpha, Mr. Shrotri was Managing Director of Cisco's Business Acceleration Team, where he focused on identifying and developing opportunities from Cisco’s sales pipeline that require equity financing.</li>
                  
               <li>  During his 10 years at Cisco Mr. Shrotri has worked on the growth strategy and investments, strategic partnerships, and managed a forum of executive reviews that include the firm’s most senior leadership.</li>
                  
                 <li>Prior to Cisco, Mr. Shrotri worked in the Seoul, Korea headquarters of Samsung, where he focused on external innovation strategy including M&A and JV structures for the semiconductor and mobility divisions.</li>
                  
                 <li>Mr. Shrotri also worked at Goldman Sachs focusing on tech/telecom investments in the Principal Investment Area (PIA).</li>
                  
                 <li> Mr. Shrotri holds degrees from the Wharton School at the University of Pennsylvania in Finance and International Relations, both summa cum laude, and an MBA from Harvard Business School, where he was a Baker Scholar.</li>
            </ul>
              
            </div>
        
   
        
            <br>
        
        </div>
        


            <div class="project_container">
            
            
              <div class="card hoverable">
            
                <div class="card-start">
                    <h5>Vasa Babic</h5>
               <h6>Partner</h6>
                  <ul>
                   <li> Mr. Babic has partnered with Mr. Shrotri for 5+ years in developing the Digital Alpha concept</li>

                  <li> Mr. Babic has 25+ years global experience in the technology, telecoms and media sectors. He has a blend of expertise in Corporate Finance, Principal Investing, Corporate General Management and Strategic consultancy. His private practice has represented and advised several Global 500 companies on new investments, joint ventures and restructurings since 2009, as well as more performing more traditional strategic and operational consultancy work.</li>
                    
                   <li> Prior to independent advisory work, Vasa was a Partner and COO of Hanover Investors, a public market control-based equity Fund. He has served as a Non-Executive Director of FTSE and AIM listed companies in the UK, including a full 7 year term at Scottish Television Group PLC, where he also chaired the Remuneration committee.</li>
                    
                <li>   Vasa was previously the youngest Group Director at Vodafone, with a role leading post-merger integration, and the youngest partner worldwide in Oliver Wyman, a Strategy Consultancy, where he specialised in technology, telecoms and media. He has a degree in Economics from King’s College, Cambridge.</li>
                   
                
                  </ul>
                </div>
            
       
            
                <br>
            
            </div>



                <div class="project_container">
                
                
                  <div class="card hoverable">
                
                    <div class="card-start">
                        <h5>Aurin Bhattacharjee</h5>
               <h6>Principal</h6>
                        <ul>
                            <li> Mr. Bhatacharjee has over 15 years of technology and investment experience at leading technology and private equity firms </li>
         
                           <li> Mr. Bhattacharjee has 7+ years experience at Google: Cloud Strategy & Operations and Corporate Finance teams where he managed investments and acquisitions such as Uber, Cloudera, AppBridge, and others</li>
                             
                            <li> Previously, Mr. Bhattacharjee was with H.I.G. Bayside Capital and Thomas H. Lee Partners</li>
                             
                         <li>   Mr. Bhattacharjee also has a background at McKinsey, where he served as a Business Analyst</li>
                            <li>Harvard Business School (MBA), Carnegie Mellon (Finance)</li>
                         
                           </ul>
                       
                    
                      
                    </div>
                
           
                
                    <br>
                
                </div>
                <div class="project_container">
                
                
                    <div class="card hoverable">
                  
                      <div class="card-start">
                          <h5>Anais Benhassaine</h5>
               <h6>Associate Legal</h6>
                  
                          <ul>
                             <li> Ms. Benhassaine is a licensed attorney in the UK and France and has structured, negotiated, and executed legal agreements with leading Silicon Valley enterprises for global deployments with Digital Alpha</li>

           
                              <li>LL.M in Corporate, Banking and Finance at Fordham Law School</li>

                               
                                <li>MSc in Tax Law and Finance from Edhec Business School, Paris</li>

                               
                                <li>Master of Corporate Law, Jean Moulin University, Lyon, France. </li>

                                <li>Bachelor of Law from Jean Moulin University, Lyon, France</li>


                           
                             </ul>
                      
                        
                      </div>
                  
             
                  
                      <br>
                  
                  </div>
                  <div class="project_container">
                
                
                      <div class="card hoverable">
                    
                        <div class="card-start">
                            <h5>Meg Visokey, CAIA</h5>
               <h6>Head of Investor Relations</h6>
               <h6>meg@dalphafund.com</h6>
                    
                            <ul>
                            <li>    Ms. Visokey has 6+ years experience UBS Wealth Management</li>

             
                            <li>  Most recently, she was on the Alternative Investments Consulting team advising Ultra High Net Worth clients on Private Equity portfolio construction</li>

                                 
                               <li> Ms. Visokey is a CAIA (Chartered Alternative Investments Analyst) Charterholder and has a BS in Business Management with honors from Bucknell University.</li>

                                 
                                
                             
                               </ul>
                        
                          
                        </div>
                    
               
                    
                        <br>
                    
                    </div>
                    <div class="project_container">
                
                
                        <div class="card hoverable">
                      
                          <div class="card-start">
                              <h5>Andy Alcon, CPA</h5>
                 <h6>CFO</h6>
                      
                              <ul>
                              <li>    Mr. Alcon has been CFO for Digital Alpha since inception

                                </li>
  
               
                              <li>  33+ years experience overseeing accounting, reporting, treasury and investor relations</li>
  
                                   
                                <li> Ms. Visokey is a CAIA (Chartered Alternative Investments Analyst) Charterholder and has a BS in Business Management with honors from Bucknell University</li>
  
                                   <li>Previously, Andy was CFO for Crosspoint Venture Partners, prominent Silicon Valley firm</li>
                                   <li>Experienced in SEC requirements associated with the investment industry</li>
                                   <li>Peat, Marwick & Mitchell & Co.</li>
                                  <li>Crosspoint raised over $1.8 billion large institutions and strategics across 11 funds, distributing $9.4+ billion during his tenure</li>

                                 </ul>
                          
                            
                          </div>
                      
                 
                      
                          <br>
                      
                      </div>

<style>
li {
  font-size: 12px;
  text-align: left;
}
h2 {
  text-align: center;
}
h5, h6 {
  text-align: left;
}

</style>