
<!---
<app-header></app-header>
<div class=a>
<br>

<br>
<h2>
  Our Team
</h2>
<p>
  


Digital Alpha Advisors
Our Team
Rick Shrotri
Founder & Managing Partner
Mr. Shrotri was formerly Managing Director of the Business Acceleration unit inside Cisco where he has been focused on identifying and developing opportunities from Cisco’s sales pipeline that require equity financing, and cultivating relationships with private equity investors.

During his 10 years at Cisco Mr. Shrotri has worked on the growth strategy and investments, strategic partnerships, and managed a forum of executive reviews that include the firm’s most senior leadership.

Prior to Cisco, Mr. Shrotri worked at Samsung where he focused on external innovation strategy including M&A and JV structures for the semiconductor and mobility divisions.

Mr. Shrotri also worked at Goldman Sachs in tech/telecom investments in the Principal Investment Area.

Mr. Shrotri holds degrees from the Wharton School at the University of Pennsylvania in Finance and International Relations, both summa cum laude, and an MBA from Harvard Business School, where he was a Baker Scholar.
</p>
<p>
Vasa Babic
Partner, Managing Director
Mr. Babic has partnered with Mr. Shrotri for nearly 4 years in developing the Digital Alpha Concept

Mr. Babic has over 25 years’ global experience in the technology, telecoms and media sectors. He has a blend of expertise in Corporate Finance, Principal Investing, Corporate General Management and Strategic consultancy. His private practice has represented and advised several Global 500 companies on new investments, joint ventures and restructurings since 2009, as well as more performing more traditional strategic and operational consultancy work.

Prior to independent advisory work, Vasa was a Partner and COO of Hanover Investors, a public market control-based equity Fund. He has served as a Non-Executive Director of FTSE and AIM listed companies in the UK, including a full 7 year term at Scottish Television Group PLC, where he also chaired the Remuneration committee.

Vasa was previously the youngest Group Director at Vodafone, with a role leading post-merger integration, and the youngest partner worldwide in Oliver Wyman, a Strategy Consultancy, where he specialised in technology, telecoms and media. He has a degree in Economics from King’s College, Cambridge.
</p>
<p>
Aurin Bhattacharjee
Principal
​
Mr. Bhattacharjee has 7+ years experience at Google: Cloud Strategy & Operations and Corporate Finance teams where he managed investments and acquisitions such as Uber, Cloudera, AppBridge, and others

Previously, Aurin was with H.I.G. Bayside Capital and Thomas H. Lee Partners

McKinsey Business Analyst (financial services client focus)

Harvard Business School (MBA), Carnegie Mellon (Finance)
</p>

<p>
Anais Benhassaine
Associate, Legal
​

Ms. Benhassaine is a licensed attorney in the UK and France and has structured, negotiated, and executed legal agreements with leading Silicon Valley enterprises for global deployments with Digital Alpha

LL.M in Corporate, Banking and Finance at Fordham Law School

MSc in Tax Law and Finance from Edhec Business School, Paris

Master of Corporate Law, Jean Moulin University, Lyon, France. 

Bachelor of Law from Jean Moulin University, Lyon, France

Meg Visokey, CAIA
Head of Investor Relations
meg@dalphafund.com
Ms. Visokey has 6+ years experience UBS Wealth Management

Most recently, she was on the Alternative Investments Consulting team advising Ultra High Net Worth clients on Private Equity portfolio construction

Ms. Visokey is a CAIA (Chartered Alternative Investments Analyst) Charterholder and has a BS in Business Management with honors from Bucknell University.

Digital Alpha Advisors
© 2019 by Digital Alpha Advisors.
</p>
<br>
</div>
-->
<div class="a">
    <br>
    <br>
    <br>
    <br>
    
    <h1 >Portfolio</h1>
    
    <div class="portfolio-category-content">
    
    
    <div class="project_container">
    
    
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/working.svg">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
    
        <div class="card-content">
    
    
          <p>
            Secures $125m Joint Venture Commitment with Digital Alpha 
    
            Cisco & Cloudian Collaborate to Create Scale-Out Enterprise Object Storage Solutions
            
            Cloudian Taking Customers From NetApp In $24B Market (Forbes)
            
            Most Widely Deployed Independent Object Storage Provider
            
            Cloudian & Seagate Collaborate for Joint Solution
          </p>
    
        </div>
    
        <br>
    
    </div>
    
    
    
      <div class="card hoverable">
    
        <div class="card-start">
    
        
          <div class="project_img">
            <img src="/assets/images/google2.jpeg">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
             <p>
              Google Station announcement at Mobile World Congress Barcelona
          </p>
    
        </div>
    
        <br>
        
      
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/packet.svg">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              PacketFabric Secures $75M Joint Venture Funding With Digital Alpha Advisors
          </p>
    
        </div>
    
        <br>
        
        
      
    </div>
    
      <br>
    
          <div class="card hoverable">
    
        <div class="card-start">
          
      
          <div class="project_img">
            <img src="assets/images/cloudian2.png">
          </div>
         
        
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
        </div>
        <div class="card-content">
    
          <p>
              Secures $125m Joint Venture Commitment with Digital Alpha 

              Cisco & Cloudian Collaborate to Create Scale-Out Enterprise Object Storage Solutions
              
              Cloudian Taking Customers From NetApp In $24B Market (Forbes)
              
              Most Widely Deployed Independent Object Storage Provider
              
          </p>
    
        </div>
    
        <br>
        
       
    
      </div>
    
      <div class="card hoverable">
    
        <div class="card-start">
            
      
          <div class="project_img">
            <img src="assets/images/ukcloud.png">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlisghts</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              UKCloud secures £25m from Cisco investment partner

              Letter from CEO - Simon Hansford
              
              UKCloud awarded an expanded presence on G-Cloud 11 with new and improved multi-cloud services
          </p>
    
        </div>
    
        <br>
        
    
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
            
          <div class="project_img">
            <img src="assets/images/jet.png">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              JetStream Software Secures Funding Led by Digital Alpha to Advance Disaster Recovery as a Service, Cloud Data Protection
          </p>
    
        </div>
    
        <br>
        
      
        </div>
    
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/connexin.png">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              Smart Cities Race Steps up a Gear with £10m Connexin Investment
          </p>
    
        </div>
    
        <br>
        
      
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
           
      
          <div class="project_img">
            <img src="assets/images/quant.png">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              $10m Equity Investment From Digital Alpha to Scale its Global Business

              World Economic Forum Awards Quantela Inc. the Coveted 'Technology Pioneer'
              
              Quantela to Roll Out Smart City Services in the Opportunity Zones of the City of Erie, PA
          </p>
    
        </div>
    
        <br>
        
       
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/pryon2.png">
          </div>
          <div class="card-end">
              <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
            </div>
        </div>
        
        <div class="card-content">
    
          <p>
              Pryon Announces $20M Funding Round
          </p>
    
        </div>
    
        <br>
        
       
    </div>
      </div>
    </div>
    </div>

    <style>
    
    h1 {
      text-align: center;
    }
    </style>
    